div.container {
  margin-top: 40px;
}

div.content {
  margin-top: 10px;
  width: 650px;
}

div.content p {
  font-size: 14px;
  line-height: 20px;
  color: black;
}

div.footer {
  margin-top: 40px;
}
.shadow {
  -moz-box-shadow: 5px 5px 5px #aaa;
  -webkit-box-shadow: 5px 5px 5px #aaa;
  box-shadow: 5px 5px 5px #aaa;
}
