body {
  margin: 0px;
  padding: 0px;
  color: #333;
}

#content {
  width: 940px;
  margin: 0 auto;
  height: 500px;
}

div#input-field {
  position: absolute;
  width: 900px;
  height: 400px;
}

button#save-button {
  position: relative;
  top: 425px;
  width: 70px;
}

span#flash {
  position: relative;
  top: 410px;
}
