body {
  background: url("assets/px_by_Gre3g.png");
}

a {
  text-decoration: none;
  color: #06c;
}
a:hover {
  text-decoration: underline;
  color: #cc6600;
}

div.section ul {
  list-style-type: none;
}

div.container {
  margin: 20px auto;
  padding: 10px;
  background: #fff;
  border-radius:6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  box-shadow: rgba(0,0,0,0.3) 0px 0px 12px; 
}


span.small {
  font-size: 12px;
}
